{% extends '@BiopenAdmin/pages/page_layout.html.twig' %}

{% block page_title %}Lecture des données issue de {{ import.sourceName }}{% endblock %}

{% block page_content %}
  <p>
    <a href="{{redirectUrl}}"><button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>Retourner à l'import</button></a>
  </p>
  <pre>{{ dataDisplay }}</pre>
  <p>
    <a href="{{redirectUrl}}"><button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>Retourner à l'import</button></a>
  </p>
{% endblock %}





