<div class="bs-callout {{ needHumanMerge ? 'bs-callout-warning' : 'bs-callout-success' }} bulk-duplicate">

    <h4>{{ automaticMerge ? "Fusion automatique" : "Doublons potentiels détectés" }}</h4>   

    {% for duplicate in duplicates %}
        <li>           
            <a class="duplicate-name" href="{{ duplicate.showUrlFromController(controller)}}" target="_blank"><b>
              {{ duplicate.name }}
              {% if duplicate.sourceKey %}<i> ({{ duplicate.sourceKey }})</i>{% endif %}
            </b></a>
           
            {% if automaticMerge %}
              {% if duplicate.status == '-6' %}
                <span class="label label-default">Doublon Supprimé</span>
              {% elseif duplicate.id == mergedId %}
                <span class="label label-success">Doublon Conservé</span>
              {% endif %}
            {% endif %}
            {% if duplicate.moderationState == 4 %}
              <span class="label label-warning">Doublon potentiel</span>
            {% endif %}
        </li>
    {% endfor %}
  </ul>

</div>





