<meta name="description" content="{{ config.appBaseline }}" /> 
<meta name="keywords" content="{{ config.appTags }}" />

{% set socialShare = config.socialShareImage ? config.socialShareImage : config.logo %}
{% set favicon     = config.favicon ? config.favicon : config.logo %}
<link rel="manifest" href="{{ path('biopen_api_manifest') }}">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ config.appName }}">
<meta name="apple-mobile-web-app-title" content="{{ config.appName }}">
<meta name="theme-color" content="{{ config.primaryColor }}">
<meta name="msapplication-navbutton-color" content="{{ config.primaryColor }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="{{ path('biopen_directory') ~ '#/carte/autour-de-moi' }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% if favicon %}<link rel="icon" type="image/png" href="{{ favicon.imageUrl }}">
{% else %}<link rel="icon" type="image/png" href="{{ asset('assets/img/default-icon.png') }}">
{% endif %}
{% if favicon %}<link rel="apple-touch-icon" type="image/png"  href="{{ favicon.imageUrl }}">
{% else %}<link rel="apple-touch-icon" type="image/png"  href="{{ asset('assets/img/default-icon.png') }}">
{% endif %}
{% if socialShare %}<link rel="image_src" type="image/png" href="{{ socialShare.imageUrl }}">{% endif %}
<meta property="og:title" content="{{ config.appName }}" />
{% if config.appBaseline %}<meta property="og:description" content="{{ config.appBaseline }}" />{% endif %}
{% if socialShare %}<meta property="og:image" content="{{ socialShare.imageUrl }}" />{% endif %}

{# custom javascript code #}
<script>window.onload = function() { {{ config.customJavascript | raw }} }</script>

{# general gogocarto styles depending on configuration style (colors, font...) #}
{% include '@BiopenCoreBundle/gogocarto-styles.html.twig' %}

{# custom CSS written from configuration admin #}
<style>{{ config.customCSS | raw }}</style>

{# the icons as SVG font #}
<link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome-5/css/all.css') }}" />
{{ config.iconImport|raw }}

{{ config.fontImport | raw }}